

/* Set Body Style */
body{
  font-family: Montserrat, serif;
  font-size: 1em;
  background: white;
  color: black;
}


/* Putting Brackets on Title */
.widget-title {
  display: flex;
  align-items: center;
}
.widget-title:before {
  content: '[';
  color: #FADA5E;
  font-size: 200px;
}

.header {

  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}
.widget-title:after {
  content: ']';
  color: #FADA5E;
  font-size: 200px;
  filter: drop-shadow(0 0.2rem 1rem rgba(0, 0, 0, 0.2));


}

/* Putting Brackets on Chapter Headers */
.widget-header {
  display: flex;
  align-items: center;
  margin: 1em 0 .6em 0;




}
.widget-header:before {
  content: '[';
  color: #FADA5E;
  font-size: 2em;
  font-weight: bolder;
  text-align: right;
  padding-right: 10px;


}
.widget-header:after {
  content: ']';
  color: #FADA5E;
  font-size: 2em;
  font-weight: bolder;
  text-align: left;
  padding-left: 10px;


}

/*Paralax full screen images, credit to steve tech youtube for the general idea
of how to impletment*/

#parallax-image{

  background-image: url("images/smokestacks.jpg");
  height: 1000px;

  background-attachment: fixed;
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;

}
#parallax-image-harvey{

  background-image: url("images/harvey.jpg");
  height: 500px;

  background-attachment: fixed;
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;

}

#parallax-image-paradise{

  background-image: url("images/paradise.jfif");
  height: 500px;

  background-attachment: fixed;
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;

}

/* Photo captions for parralax images */
.parallax-description{
font-size: .9em;

color: #666;
text-align: center;
margin-top: 1em;
margin-bottom: 4em;


}
/* make white background for datawrapper graphics */

iframe{
  background: white;
  margin-top: 3em;
  margin-bottom: 4em;
}


/*Design of Title*/

  .hero-hed{
    font-size: 5em;
    color:#fff;
    margin: 0 auto;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 black;
    font-family: 'Taviraj', serif;
    text-align: center;


  }

  .hero-sub {
    font-size: 1.5em;
    text-shadow: 0 1px 0 black;
    font-family: 'Taviraj', serif;
    color:#fff;
    text-align: center;
  }


/* Stylize byline */

.byline{
  font-size: .75em;
  color: grey;

  margin-bottom: 3em;
  text-align: center;

}



.pullout {
  margin-top: 5em;
  margin-bottom: 5em;
}




/* formats image description, makes smaller */
.image-description{
font-size: .9em;
margin-top: .5em;
color: #666;


}

/* formats images that are no parralx */

.figure img{
  height: auto;
  width: 100%;
  margin: 0 auto;
  display: block;


}



/* unvisited link */
a:link {
  color: #cb4154;

  text-decoration: underline;
}

/* visited link */
a:visited {
  color: #868686;

  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color: #a82e3f;
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #cb4154;
  text-decoration: underline;
}


/* stylizing blockquote, adapted style from css-tricks */
blockquote {
    font-size: 1.1em;
    line-height: 1.6em;
    padding: 20px 0px 20px 20px;
    border-left: none;
    position: relative;
    text-indent: -19px
}

#block_content {
    /* min-height: 20em; */
    margin-top: 4em;
    margin-bottom: 4em;
    text-align: left
}

blockquote p {
    font-size: 1.75em
}



blockquote:before,
blockquote:after {
    font-family: 'Taviraj', serif;
    font-size: 2.5em;
    vertical-align: middle;
    line-height: 0
}

blockquote:before {
    content: open-quote;
    margin-right: 4px
}

blockquote:after {
    content: close-quote;
    margin-left: 3px
}

blockquote.blockstyle {
    background: #fff;
    font-style: italic
}

blockquote.blockstyle p {

    display: inline;
}

.attribution{
  margin-top: 2em;
  font-size: 1em;

}
blockquote.blockstyle {
    border-left: 3px solid #f0715f;
    position: relative
}

blockquote.blockstyle>span.triangle:before {
    text-indent: 0;
    content: "\f0da";
    font-family: FontAwesome;
    color: #cb4154;
    position: absolute;
    left: -1px;
    top: 50%;
    margin-top: -11px;
    font-style: normal
}

blockquote.blockstyle:before,
blockquote.blockstyle:after {
    color: #cb4154
}



/* Media Queries */

@media(max-width:900px){

  p { padding-left: 20px;
      padding-right: 10px;
     }


}
