

/* Set Body Style */
body{
  font-family: Montserrat, serif;
  font-size: 1em;

}


/* nav bar space before header */


.opener {
  background-image: url('images/baltimore.jpg');
  color: #eee;
  text-align: center;

}

.opener::after {
  display: block;
  content: "";
  border-top: 100px solid #333;
  border-left: 100vw solid transparent;
  background-color: #fff;
  margin-bottom: 7em;
}

.wrapper {
  p

}
.article-headline{

  text-align: center;

  font-size: 2em
}

.chapter-headline:after {
  position: absolute;
  	content: "";
  	left: 0;
  	top: 0;
  	bottom: 0;
  	width: 5px;
  	border-radius: 2px;
  	box-shadow:
  		inset 0 1px 1px rgba(0,0,0,0.5),
  		0 1px 1px rgba(255,255,255,0.3);
    background: #EB5242;

}
.chapter-headline{


  margin: 1em 0 .6em 0;
  padding: 0 0 0 20px;
  font-weight: normal;


  text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
  position: relative;
  font-size: 1.5em;
  line-height: 1.75em;

}

.byline{
  font-size: .75em;
  color: grey;
  text-align: center;
  margin-bottom: 3em;

}
.headline{
  font-weight: bold;
}

img{
}

iframe{

  margin-top: 3em;
  margin-bottom: 4em;
}
.image-source{

  color: #666;
  font-size: 10px;
}
/* formats image description, makes smaller */
.image-description{
font-size: 10px;
margin-top: .5em;


}

.figure img{
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  display: block;
  text-align: center;
}

/*splash*/



/*

.hero-container {
  position: relative;
  text-align: center;
  color:#fff

}


.hero-container img{
  width: 100%;
}



.overlay {
  position: absolute;
  top: 20%;
  width:100%;
  background: #000;
  opacity: .75

}

.hero-hed{
  font-size: 5em;
  color:#fff;
  margin: 0 auto;
  padding-bottom: 10px;


}

.hero-sub {
  font-size: .25em;
}

.line {
  width: 1em;
  height : 10em;
  background: red;
  transform: rotate(45deg) translateX(30em) translateY(-25em);
}
*/
/* Block Quote CSS */

blockquote {
    font-size: 1.1em;
    line-height: 1.6em;
    padding: 20px 0px 20px 20px;
    border-left: none;
    position: relative;
    text-indent: -19px
}

#block_content {
    /* min-height: 20em; */
    margin-top: 4em;
    margin-bottom: 4em;
    text-align: left
}

blockquote p {
    font-size: 1.75em
}



blockquote:before,
blockquote:after {
    font-family: Arial, serif;
    font-size: 2.5em;
    vertical-align: middle;
    line-height: 0
}

blockquote:before {
    content: open-quote;
    margin-right: 4px
}

blockquote:after {
    content: close-quote;
    margin-left: 3px
}

blockquote.blockstyle,
blockquote.style2 {
    background: #fff;
    font-style: italic
}

blockquote.blockstyle p,
blockquote.style2 p {

    display: inline;
}

.attribution{
  margin-top: 2em;
  font-size: 1em;

}
blockquote.blockstyle {
    border-left: 3px solid #f0715f;
    position: relative
}

blockquote.blockstyle>span.triangle:before {
    text-indent: 0;
    content: "\f0da";
    font-family: FontAwesome;
    color: #f0715f;
    position: absolute;
    left: -1px;
    top: 50%;
    margin-top: -11px;
    font-style: normal
}

blockquote.blockstyle:before,
blockquote.blockstyle:after {
    color: #f0715f
}

blockquote.blockstyle.border-color-blue {
    border-color: #01b7f2
}

blockquote.blockstyle.border-color-blue>span.triangle:before {
    color: #01b7f2
}

blockquote.blockstyle.border-color-yellow {
    border-color: #fdb714
}

blockquote.blockstyle.border-color-yellow>span.triangle:before {
    color: #fdb714
}

/* Media Queries */

@media(max-width:650px){

  p { padding-left: 20px;
      padding-right: 10px;
     }

  .chapter-head{
    font-size: 1.25em;

  }



  .hero-hed{
    font-size: 1.5em;
  }
}
