
/*Styles for my resume*/
body{
  font-family: 'Open Sans' ,arial,  sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}
/*Banner Name at Top*/
h1 {
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  color: #33485e;
}

/*My  Title*/
strong {
  color:#33485e;
  text-transform: uppercase;
  font-size: 1.5em:
}
/*Secition Titles*/
h2{
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #fff;

}
/*Job Titles*/
h3{
  font-size: 1.5em;
  font-weight: 600;

}
/*Job Organization*/
h4{
  font-size: 1.5em;
  font-weight: 400;

}
/*Job Dates*/
h5{
  font-size: 1em;
  font-weight: 400;
  font-style: italic;

}
/*Contact Info*/
ul{
  font-size: 1em;
  }
